body {
    max-width: 650px;
    margin: 40px auto;
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #444;
    background: rgb(241, 241, 236)
}

h1, h2 {
    text-align: center;
    line-height: 1.2;
    margin: 40px 0;
}
h4 {
    margin: 20px 0;
    border-bottom: 1px solid#bfbfc2;
}
ul {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
}
ul ul{
    padding-left: 10px;
    padding-right: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}


a:link {
    color: rgb(48, 73, 128);
}

a:visited {
    color: rgb(24, 21, 82);
}